In [1]:
import numpy as np
import pandas as pd
import glob, os 
import datetime

## Initial data import
Use data starting in 2000

In [2]:
pathname = "./tennis_atp/atp_matches_20??.csv"
df = pd.concat((pd.read_csv(f) for f in glob.iglob(pathname, recursive=True)), ignore_index=True)
# Filter matches without data
df = df[list(map(lambda x: not np.isnan(x), df.loc[:]["minutes"]))].head(3000)

df['tourney_date'] = pd.to_datetime(df['tourney_date'], format='%Y%m%d')
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2004-360,Casablanca,Clay,32.0,A,2004-05-17,1.0,103103.0,1.0,NaN,...,6.0,1.0,4.0,63.0,28.0,17.0,15.0,8.0,5.0,9.0
1,2004-360,Casablanca,Clay,32.0,A,2004-05-17,2.0,102231.0,NaN,NaN,...,11.0,5.0,7.0,97.0,59.0,35.0,14.0,15.0,6.0,13.0
2,2004-360,Casablanca,Clay,32.0,A,2004-05-17,3.0,103700.0,NaN,NaN,...,3.0,0.0,5.0,52.0,23.0,15.0,7.0,8.0,3.0,8.0
3,2004-360,Casablanca,Clay,32.0,A,2004-05-17,4.0,103169.0,8.0,NaN,...,4.0,4.0,6.0,87.0,36.0,25.0,23.0,10.0,17.0,20.0
4,2004-360,Casablanca,Clay,32.0,A,2004-05-17,5.0,103898.0,NaN,NaN,...,7.0,2.0,6.0,68.0,33.0,20.0,16.0,9.0,4.0,8.0

In [3]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'winner_rank', 'winner_rank_points', 'loser_id', 'loser_seed',
       'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc',
       'loser_age', 'loser_rank', 'loser_rank_points', 'score', 'best_of',
       'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df',
       'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved',
       'l_bpFaced'],
      dtype='object')

## Match only

In [4]:
games = df[['tourney_id', 'winner_id', 'winner_rank', 'loser_id', 'loser_rank', 'tourney_date']].copy()
def label_data(winner_id, winner_rank, loser_id, loser_rank):
    if winner_rank < loser_rank:
        top_player_rank = winner_rank
        top_player_id = winner_id
        low_player_rank = loser_rank
        low_player_id = loser_id
        top_player_won = 1.
    else:
        top_player_rank = loser_rank
        top_player_id = loser_id
        low_player_rank = winner_rank
        low_player_id = winner_id
        top_player_won = 0.
    return top_player_id, top_player_rank, low_player_id, low_player_rank, top_player_won

games['top_player_id'], games['top_player_rank'], games['low_player_id'], games['low_player_rank'], games['top_player_won'] = \
np.vectorize(label_data)(games['winner_id'], games['winner_rank'], games['loser_id'], games['loser_rank'])
games.drop(['winner_id', 'winner_rank', 'loser_id', 'loser_rank'], axis=1, inplace=True)
games.head()

,tourney_id,tourney_date,top_player_id,top_player_rank,low_player_id,low_player_rank,top_player_won
0,2004-360,2004-05-17,103103.0,32.0,104259.0,149.0,1.0
1,2004-360,2004-05-17,103153.0,101.0,102231.0,150.0,0.0
2,2004-360,2004-05-17,103700.0,136.0,102558.0,165.0,1.0
3,2004-360,2004-05-17,103169.0,90.0,103007.0,451.0,1.0
4,2004-360,2004-05-17,103105.0,80.0,103898.0,109.0,0.0

### Database by player

In [5]:
winners = (df[list(df.columns[:7]) + [column for column in df.columns if column[0]=='w'] + ['l_bpFaced', 'l_bpSaved']]
               .rename(columns={'l_bpFaced': '_break_points_for', 'l_bpSaved':'_break_points_missed'})
          )

for column in winners.columns[7:]:
    index = column.find('_') + 1
    winners.rename(columns={column: column[index:]}, inplace = True)
    
losers = (df[list(df.columns[:7]) + [column for column in df.columns if column[0]=='l'] + ['w_bpFaced', 'w_bpSaved']]
               .rename(columns={'w_bpFaced': '_break_points_for', 'w_bpSaved':'_break_points_missed'})
          )
for column in losers.columns[7:]:
    index = column.find('_') + 1
    losers.rename(columns={column: column[index:]}, inplace = True)

players = pd.DataFrame.append(winners, losers)
players['id'] = players['id'].astype('int')

players['%1st_serve_in'] = players['1stIn']/players['svpt']
players['%1st_serve_won'] = players['1stWon']/players['1stIn']
players['%2nd_serve_won'] = players['2ndWon']/(players['svpt'] - players['1stIn'])
players['%break_points_saved'] = players['bpSaved']/players['bpFaced']
players['%break_points_converted'] = 1. - players['break_points_missed']/players['break_points_for']

players.rename(columns={
    'df': 'double_fault',
    'bpFaced': 'break_points_against'
}, inplace=True)

#players.set_index(['id','tourney_date'], inplace=True)

players.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,id,seed,entry,...,SvGms,bpSaved,break_points_against,break_points_for,break_points_missed,%1st_serve_in,%1st_serve_won,%2nd_serve_won,%break_points_saved,%break_points_converted
0,2004-360,Casablanca,Clay,32.0,A,2004-05-17,1.0,103103,1.0,NaN,...,8.0,6.0,6.0,9.0,5.0,0.571429,0.843750,0.458333,1.000000,0.444444
1,2004-360,Casablanca,Clay,32.0,A,2004-05-17,2.0,102231,NaN,NaN,...,14.0,6.0,11.0,13.0,6.0,0.710843,0.559322,0.500000,0.545455,0.538462
2,2004-360,Casablanca,Clay,32.0,A,2004-05-17,3.0,103700,NaN,NaN,...,7.0,3.0,3.0,8.0,3.0,0.520000,0.769231,0.541667,1.000000,0.625000
3,2004-360,Casablanca,Clay,32.0,A,2004-05-17,4.0,103169,8.0,NaN,...,10.0,3.0,4.0,20.0,17.0,0.650000,0.692308,0.619048,0.750000,0.150000
4,2004-360,Casablanca,Clay,32.0,A,2004-05-17,5.0,103898,NaN,NaN,...,9.0,6.0,7.0,8.0,4.0,0.589041,0.674419,0.533333,0.857143,0.500000

## Statistics

In [6]:
stats = ['ace', 'double_fault', '%1st_serve_in', '%1st_serve_won', '%2nd_serve_won', '%break_points_saved', 'break_points_against', '%break_points_converted']

### Life to date

In [7]:
def life_to_date_stats(df, player_id, tdate, match_num):
    tdate = pd.to_datetime(tdate) # Issues with format in vectorize
    column_names = [stat + '_ltd' for stat in stats]
    results = (df.loc[(df['id'] == player_id) & (df['tourney_date'] < tdate) & (df['match_num'] < match_num)]
                    .groupby('id')
                    .agg('mean')[stats]
                    #.set_index('id')
                    .rename(columns=dict(zip(stats, column_names)))
              )
    results['tourney_date'] = tdate
    results['match_num'] = match_num
    return results
    
ltd_stats = pd.concat(np.vectorize(life_to_date_stats, excluded=['df'])(df=players, player_id=players['id'], tdate=players['tourney_date'], match_num=players['match_num']))
players = players.merge(ltd_stats, how='left', on=['id', 'tourney_date', 'match_num'])

### Last x games

In [10]:
def last_x_games_avg(df, player_id, tdate, match_num, x):
    tdate = pd.to_datetime(tdate) # Issues with format in vectorize
    column_names = [stat + '_last_' + str(x) + '_games' for stat in stats]
    results = (df.loc[(df['id'] == player_id) & (df['tourney_date'] < tdate) & (df['match_num'] < match_num)]
                    .sort_values(by=['tourney_date', 'match_num'], ascending=False)
                    .head(x)
                    .groupby('id')
                    .agg('mean')[stats]
                    .rename(columns=dict(zip(stats, column_names)))
              )
    results['tourney_date'] = tdate
    results['match_num'] = match_num
    return results

def merge_x_games_avg(df, x):
    last_x_games = pd.concat(np.vectorize(last_x_games_avg, excluded=['df', 'x'])(df=df, player_id=df['id'], tdate=df['tourney_date'], match_num=df['match_num'], x=x))
    df = df.merge(last_x_games, how='left', on=['id', 'tourney_date', 'match_num'])
    return df

players = merge_x_games_avg(players, 10)

### Current year

In [47]:
def current_year_stats(df, player_id, tdate, match_num):
    tdate = pd.to_datetime(tdate) # Issues with format in vectorize
    column_names = [stat + '_current_year' for stat in stats]
    results = (df.loc[(df['id'] == player_id) & (df['tourney_date'] < tdate) & (df['match_num'] < match_num) & (df['tourney_date'].map(lambda x: x.year) < tdate.year)]
                    .groupby('id')
                    .agg('mean')[stats]
                    #.set_index('id')
                    .rename(columns=dict(zip(stats, column_names)))
              )
    results['tourney_date'] = tdate
    results['match_num'] = match_num
    return results
    
ltd_stats = pd.concat(np.vectorize(life_to_date_stats, excluded=['df'])(df=players, player_id=players['id'], tdate=players['tourney_date'], match_num=players['match_num']))
players = players.merge(ltd_stats, how='left', on=['id', 'tourney_date', 'match_num'])

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,id,seed,entry,...,break_points_against_ltd,%break_points_converted_ltd,last_10_games_ace,last_10_games_double_fault,last_10_games_%1st_serve_in,last_10_games_%1st_serve_won,last_10_games_%2nd_serve_won,last_10_games_%break_points_saved,last_10_games_break_points_against,last_10_games_%break_points_converted
0,2004-360,Casablanca,Clay,32.0,A,2004-05-17,1.0,103103,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004-360,Casablanca,Clay,32.0,A,2004-05-17,2.0,102231,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004-360,Casablanca,Clay,32.0,A,2004-05-17,3.0,103700,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004-360,Casablanca,Clay,32.0,A,2004-05-17,4.0,103169,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004-360,Casablanca,Clay,32.0,A,2004-05-17,5.0,103898,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2004-360,Casablanca,Clay,32.0,A,2004-05-17,6.0,102369,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2004-360,Casablanca,Clay,32.0,A,2004-05-17,8.0,103693,7.0,NaN,...,4.666667,0.133333,3.333333,1.000000,0.612665,0.698879,0.489995,0.566667,4.666667,0.133333
7,2004-360,Casablanca,Clay,32.0,A,2004-05-17,9.0,102642,5.0,NaN,...,3.666667,0.433333,4.666667,1.333333,0.539786,0.765893,0.607207,0.850000,3.666667,0.433333
8,2004-360,Casablanca,Clay,32.0,A,2004-05-17,10.0,103294,NaN,NaN,...,7.000000,0.342593,2.666667,1.333333,0.590423,0.588297,0.526190,0.462963,7.000000,0.342593
9,2004-360,Casablanca,Clay,32.0,A,2004-05-17,11.0,102287,NaN,NaN,...,6.500000,1.000000,2.000000,3.000000,0.587529,0.625556,0.404762,0.450000,6.500000,1.000000
10,2004-360,Casablanca,Clay,32.0,A,2004-05-17,12.0,102179,3.0,NaN,...,6.875000,0.265179,10.375000,3.375000,0.573407,0.706714,0.533085,0.600000,6.875000,0.265179
11,2004-360,Casablanca,Clay,32.0,A,2004-05-17,13.0,102730,NaN,NaN,...,6.750000,0.740385,5.500000,1.250000,0.632675,0.696301,0.494399,0.518519,6.750000,0.740385
12,2004-360,Casablanca,Clay,32.0,A,2004-05-17,17.0,103103,1.0,NaN,...,4.250000,0.420918,5.125000,2.375000,0.581573,0.710839,0.612798,0.704082,4.250000,0.420918
13,2004-360,Casablanca,Clay,32.0,A,2004-05-17,18.0,103169,8.0,NaN,...,7.500000,0.423737,2.375000,2.250000,0.654369,0.659648,0.484361,0.622871,7.500000,0.423737
14,2004-360,Casablanca,Clay,32.0,A,2004-05-17,19.0,103898,NaN,NaN,...,7.500000,0.227273,3.000000,3.500000,0.620945,0.707933,0.383065,0.472222,7.500000,0.227273
15,2004-360,Casablanca,Clay,32.0,A,2004-05-17,20.0,103693,7.0,NaN,...,4.833333,0.375000,4.666667,1.500000,0.633527,0.723211,0.560151,0.676190,4.833333,0.375000
16,2004-360,Casablanca,Clay,32.0,A,2004-05-17,21.0,103294,NaN,NaN,...,8.857143,0.355225,2.714286,3.714286,0.559179,0.612331,0.500650,0.550113,8.857143,0.355225
17,2004-360,Casablanca,Clay,32.0,A,2004-05-17,22.0,102179,3.0,NaN,...,6.636364,0.262662,8.900000,3.000000,0.565182,0.682281,0.563005,0.571667,5.800000,0.288929
18,2004-360,Casablanca,Clay,32.0,A,2004-05-17,23.0,102730,NaN,NaN,...,7.500000,0.692308,6.000000,2.166667,0.620857,0.686387,0.465552,0.594444,7.500000,0.692308
19,2004-360,Casablanca,Clay,32.0,A,2004-05-17,24.0,103490,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2004-360,Casablanca,Clay,32.0,A,2004-05-17,25.0,103103,1.0,NaN,...,4.769231,0.472917,4.900000,2.400000,0.624808,0.690145,0.547751,0.552403,5.300000,0.482407
21,2004-360,Casablanca,Clay,32.0,A,2004-05-17,26.0,103898,NaN,NaN,...,6.666667,0.484848,2.666667,3.000000,0.616495,0.687233,0.438172,0.381481,6.666667,0.484848
22,2004-360,Casablanca,Clay,32.0,A,2004-05-17,27.0,103294,NaN,NaN,...,8.625000,0.390193,2.375000,3.500000,0.569790,0.618027,0.485687,0.552778,8.625000,0.390193
23,2004-360,Casablanca,Clay,32.0,A,2004-05-17,28.0,103490,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2004-360,Casablanca,Clay,32.0,A,2004-05-17,29.0,103103,1.0,NaN,...,5.111111,0.476681,4.500000,2.200000,0.625962,0.689975,0.530322,0.609545,6.500000,0.462963
25,2004-360,Casablanca,Clay,32.0,A,2004-05-17,30.0,103490,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2004-360,Casablanca,Clay,32.0,A,2004-05-17,31.0,103490,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2004-505,Vina del Mar,Clay,32.0,A,2004-02-09,1.0,103454,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2004-505,Vina del Mar,Clay,32.0,A,2004-02-09,2.0,103248,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2004-505,Vina del Mar,Clay,32.0,A,2004-02-09,3.0,103201,NaN,WC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5970,2000-408,London,Hard,32.0,A,2000-02-21,30.0,102358,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5971,2000-408,London,Hard,32.0,A,2000-02-21,31.0,102338,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5972,2000-560,US Open,Hard,128.0,G,2000-08-28,1.0,103297,NaN,WC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5973,2000-560,US Open,Hard,128.0,G,2000-08-28,2.0,103292,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5974,2000-560,US Open,Hard,128.0,G,2000-08-28,3.0,103082,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5975,2000-560,US Open,Hard,128.0,G,2000-08-28,4.0,102776,NaN,NaN,...,4.000000,0.066667,13.000000,4.000000,0.536364,0.830508,0.607843,1.000000,4.000000,0.066667
5976,2000-560,US Open,Hard,128.0,G,2000-08-28,5.0,102735,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5977,2000-560,US Open,Hard,128.0,G,2000-08-28,6.0,103894,NaN,WC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5978,2000-560,US Open,Hard,128.0,G,2000-08-28,7.0,102286,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5979,2000-560,US Open,Hard,128.0,G,2000-08-28,8.0,103184,NaN,WC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5980,2000-560,US Open,Hard,128.0,G,2000-08-28,9.0,103714,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5981,2000-560,US Open,Hard,128.0,G,2000-08-28,10.0,101902,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5982,2000-560,US Open,Hard,128.0,G,2000-08-28,11.0,103252,NaN,NaN,...,6.000000,0.333333,5.000000,6.000000,0.635294,0.740741,0.548387,0.666667,6.000000,0.333333
5983,2000-560,US Open,Hard,128.0,G,2000-08-28,12.0,103758,NaN,WC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5984,2000-560,US Open,Hard,128.0,G,2000-08-28,13.0,103454,NaN,NaN,...,3.500000,0.563492,2.500000,1.500000,0.543622,0.880702,0.596491,0.708333,3.500000,0.563492
5985,2000-560,US Open,Hard,128.0,G,2000-08-28,14.0,102443,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5986,2000-560,US Open,Hard,128.0,G,2000-08-28,15.0,102770,NaN,LL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5987,2000-560,US Open,Hard,128.0,G,2000-08-28,16.0,103264,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5988,2000-560,US Open,Hard,128.0,G,2000-08-28,17.0,102093,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5989,2000-560,US Open,Hard,128.0,G,2000-08-28,18.0,103294,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5990,2000-560,US Open,Hard,128.0,G,2000-08-28,19.0,102106,NaN,NaN,...,4.000000,0.000000,2.000000,2.000000,0.491228,0.714286,0.586207,0.500000,4.000000,0.000000
5991,2000-560,US Open,Hard,128.0,G,2000-08-28,20.0,103176,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5992,2000-560,US Open,Hard,128.0,G,2000-08-28,21.0,102965,NaN,Q,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5993,2000-560,US Open,Hard,128.0,G,2000-08-28,22.0,102205,NaN,Q,...,10.000000,NaN,2.000000,2.000000,0.600000,0.564103,0.384615,0.600000,10.000000,NaN
5994,2000-560,US Open,Hard,128.0,G,2000-08-28,23.0,101543,NaN,NaN,...,6.750000,0.422917,4.250000,4.000000,0.525182,0.706695,0.550607,0.694444,6.750000,0.422917
5995,2000-560,US Open,Hard,128.0,G,2000-08-28,24.0,102548,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5996,2000-560,US Open,Hard,128.0,G,2000-08-28,25.0,102950,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5997,2000-560,US Open,Hard,128.0,G,2000-08-28,26.0,102821,NaN,WC,...,9.000000,0.333333,0.000000,0.000000,0.421053,0.541667,0.515152,0.444444,9.000000,0.333333
5998,2000-560,US Open,Hard,128.0,G,2000-08-28,27.0,103694,NaN,LL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5999,2000-560,US Open,Hard,128.0,G,2000-08-28,28.0,103356,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Face to face

In [14]:
# Add number of wins to stats
players['tourney_date'].map(lambda x: x.year)

0       2004
1       2004
2       2004
3       2004
4       2004
5       2004
6       2004
7       2004
8       2004
9       2004
10      2004
11      2004
12      2004
13      2004
14      2004
15      2004
16      2004
17      2004
18      2004
19      2004
20      2004
21      2004
22      2004
23      2004
24      2004
25      2004
26      2004
27      2004
28      2004
29      2004
        ...
5970    2000
5971    2000
5972    2000
5973    2000
5974    2000
5975    2000
5976    2000
5977    2000
5978    2000
5979    2000
5980    2000
5981    2000
5982    2000
5983    2000
5984    2000
5985    2000
5986    2000
5987    2000
5988    2000
5989    2000
5990    2000
5991    2000
5992    2000
5993    2000
5994    2000
5995    2000
5996    2000
5997    2000
5998    2000
5999    2000
Name: tourney_date, Length: 6000, dtype: int64