In [2]:
import numpy as np
import pandas as pd
import glob, os

### Initial data import
Use data starting in 2000

In [30]:
pathname = "./tennis_atp/atp_matches_20??.csv"
df = pd.concat((pd.read_csv(f) for f in glob.iglob(pathname, recursive=True)), ignore_index=True)
# Filter matches without data
df = df[list(map(lambda x: not np.isnan(x), df.loc[:]["minutes"]))]
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced
0,2000-717,Orlando,Clay,32.0,A,20000501.0,1.0,102179.0,NaN,NaN,...,15.0,13.0,4.0,110.0,59.0,49.0,31.0,17.0,4.0,4.0
1,2000-717,Orlando,Clay,32.0,A,20000501.0,2.0,103602.0,NaN,Q,...,6.0,0.0,0.0,57.0,24.0,13.0,17.0,10.0,4.0,9.0
2,2000-717,Orlando,Clay,32.0,A,20000501.0,3.0,103387.0,NaN,NaN,...,0.0,2.0,2.0,65.0,39.0,22.0,10.0,8.0,6.0,10.0
3,2000-717,Orlando,Clay,32.0,A,20000501.0,4.0,101733.0,NaN,NaN,...,12.0,4.0,6.0,104.0,57.0,35.0,24.0,15.0,6.0,11.0
4,2000-717,Orlando,Clay,32.0,A,20000501.0,5.0,101727.0,4.0,NaN,...,1.0,0.0,3.0,47.0,28.0,17.0,10.0,8.0,3.0,6.0

## Match only

In [11]:
games = df[['tourney_id', 'winner_id', 'loser_id', 'tourney_date']]

                               tourney_id  winner_id  loser_id  tourney_date
0                                2000-717     102179    102776      20000501
1                                2000-717     103602    102821      20000501
2                                2000-717     103387    102205      20000501
3                                2000-717     101733    102925      20000501
4                                2000-717     101727    101826      20000501
5                                2000-717     103181    101885      20000501
6                                2000-717     101675    102455      20000501
7                                2000-717     102834    101086      20000501
8                                2000-717     103454    102133      20000501
9                                2000-717     102466    102966      20000501
10                               2000-717     103188    103204      20000501
11                               2000-717     101150    102880      20000501
12                               2000-717     103009    102987      20000501
13                               2000-717     103082    102720      20000501
14                               2000-717     103598    102233      20000501
15                               2000-717     102887    102998      20000501
16                               2000-717     103602    102179      20000501
17                               2000-717     103387    101733      20000501
18                               2000-717     103181    101727      20000501
19                               2000-717     101675    102834      20000501
20                               2000-717     103454    102466      20000501
21                               2000-717     101150    103188      20000501
22                               2000-717     103082    103009      20000501
23                               2000-717     102887    103598      20000501
24                               2000-717     103602    103387      20000501
25                               2000-717     101675    103181      20000501
26                               2000-717     103454    101150      20000501
27                               2000-717     102887    103082      20000501
28                               2000-717     103602    101675      20000501
29                               2000-717     103454    102887      20000501
...                                   ...        ...       ...           ...
56433  2018-M-DC-2018-G2-EPA-M-TUN-FIN-01     200325    144826      20180203
56434  2018-M-DC-2018-G2-EPA-M-TUN-FIN-01     104291    200325      20180203
56436  2018-M-DC-2018-G2-EPA-M-TUR-ZIM-01     111761    123795      20180203
56437  2018-M-DC-2018-G2-EPA-M-TUR-ZIM-01     105626    117356      20180203
56439      2018-M-DC-2018-WG-M-AUS-GER-01     100644    200282      20180202
56440      2018-M-DC-2018-WG-M-AUS-GER-01     106401    105526      20180202
56441      2018-M-DC-2018-WG-M-AUS-GER-01     100644    106401      20180202
56442      2018-M-DC-2018-WG-M-CAN-CRO-01     106432    105577      20180202
56443      2018-M-DC-2018-WG-M-CAN-CRO-01     133430    105634      20180202
56444      2018-M-DC-2018-WG-M-CAN-CRO-01     106432    133430      20180202
56445      2018-M-DC-2018-WG-M-FRA-NED-01     105217    105173      20180202
56446      2018-M-DC-2018-WG-M-FRA-NED-01     104755    104898      20180202
56447      2018-M-DC-2018-WG-M-FRA-NED-01     105173    104898      20180202
56448      2018-M-DC-2018-WG-M-GBR-ESP-01     105077    106281      20180202
56449      2018-M-DC-2018-WG-M-GBR-ESP-01     111815    105138      20180202
56450      2018-M-DC-2018-WG-M-GBR-ESP-01     105077    111815      20180202
56451      2018-M-DC-2018-WG-M-HUN-BEL-01     105074    105916      20180202
56452      2018-M-DC-2018-WG-M-HUN-BEL-01     105676    105226      20180202
56453      2018-M-DC-2018-WG-M-HUN-BEL-01     105676    105916      20180202
56454      2018-M-DC-2018-WG-M-HUN-BEL-01     200436    106333      20180202
56455      2018-M-DC-2018-WG-M-ITA-JPN-01     104926    106121      20180202
56456      2018-M-DC-2018-WG-M-ITA-JPN-01     105216    104312      20180202
56457      2018-M-DC-2018-WG-M-ITA-JPN-01     104926    105216      20180202
56458      2018-M-DC-2018-WG-M-KAZ-SUI-01     122078    105967      20180202
56459      2018-M-DC-2018-WG-M-KAZ-SUI-01     105062    106391      20180202
56460      2018-M-DC-2018-WG-M-KAZ-SUI-01     144817    122236      20180202
56461      2018-M-DC-2018-WG-M-KAZ-SUI-01     122078    106391      20180202
56462      2018-M-DC-2018-WG-M-USA-SRB-01     105023    111513      20180202
56463      2018-M-DC-2018-WG-M-USA-SRB-01     104545    105583      20180202
56464      2018-M-DC-2018-WG-M-USA-SRB-01     106353    105449      20180202

[49418 rows x 4 columns]

## Merge winner and losers

In [43]:
winners = df[list(df.columns[:7]) + [column for column in df.columns if column[0]=='w']]
for column in winners.columns[7:]:
    index = column.find('_') + 1
    winners.rename(columns={column: column[index:]}, inplace = True)
    
losers = df[list(df.columns[:7]) + [column for column in df.columns if column[0]=='l']]
for column in losers.columns[7:]:
    index = column.find('_') + 1
    losers.rename(columns={column: column[index:]}, inplace = True)

players = pd.DataFrame.append(winners, losers)
players.head()

C:\Users\jfagn\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,id,seed,entry,...,rank_points,ace,df,svpt,1stIn,1stWon,2ndWon,SvGms,bpSaved,bpFaced
0,2000-717,Orlando,Clay,32.0,A,20000501.0,1.0,102179.0,NaN,NaN,...,351.0,8.0,1.0,126.0,76.0,56.0,29.0,16.0,14.0,15.0
1,2000-717,Orlando,Clay,32.0,A,20000501.0,2.0,103602.0,NaN,Q,...,76.0,4.0,2.0,67.0,35.0,25.0,16.0,10.0,4.0,6.0
2,2000-717,Orlando,Clay,32.0,A,20000501.0,3.0,103387.0,NaN,NaN,...,380.0,4.0,1.0,46.0,29.0,23.0,11.0,8.0,0.0,0.0
3,2000-717,Orlando,Clay,32.0,A,20000501.0,4.0,101733.0,NaN,NaN,...,371.0,8.0,6.0,109.0,56.0,43.0,21.0,15.0,9.0,12.0
4,2000-717,Orlando,Clay,32.0,A,20000501.0,5.0,101727.0,4.0,NaN,...,543.0,3.0,0.0,50.0,27.0,22.0,16.0,9.0,1.0,1.0

## Lifetime statistics

In [46]:
players['%1stIn'] = players['1stIn']/players['svpt']
players['%1stWon'] = players['1stWon']/players['1stIn']
players['%2ndWon'] = players['2ndWon']/(players['svpt'] - players['1stIn'])
players['%bpSaved'] = players['bpSaved']/players['bpFaced']
stats = ['ace', 'df', 'svpt', '%1stIn', '%1stWon', '%2ndWon', '%bpSaved', 'bpFaced']
players.groupby(['id', 'tourney_level', 'surface']).agg('mean')[stats].head()

                                      ace        df        svpt    %1stIn  \
id       tourney_level surface
100644.0 A             Clay      5.058824  3.529412   73.088235  0.611158
                       Grass     8.357143  2.071429   64.928571  0.680107
                       Hard      6.516667  3.450000   72.933333  0.623039
         D             Clay      4.500000  4.000000   76.000000  0.615893
                       Hard     15.333333  5.500000  119.833333  0.633422

                                 %1stWon   %2ndWon  %bpSaved   bpFaced
id       tourney_level surface
100644.0 A             Clay     0.650078  0.526503  0.504844  6.176471
                       Grass    0.761056  0.493371  0.638571  4.071429
                       Hard     0.746237  0.514597  0.610666  5.483333
         D             Clay     0.563507  0.497619  0.208333  7.000000
                       Hard     0.722764  0.564025  0.715385  8.500000

In [42]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'winner_rank', 'winner_rank_points', 'loser_id', 'loser_seed',
       'loser_entry', 'loser_name', 'loser_hand', 'loser_ht', 'loser_ioc',
       'loser_age', 'loser_rank', 'loser_rank_points', 'score', 'best_of',
       'round', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon',
       'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df',
       'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved',
       'l_bpFaced'],
      dtype='object')